.wrapper{
    text-align: center;
}
.btn {
    margin-top: 200px;
    background-color:#ffc5ca;
    padding: 10px;
    font-size: 25px;
    border: 1px solid;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.btn:hover {
    background-color:#edc5ff;
}

.item {
    width: 400px;
    display: flex;
    align-items: center;
    border: 2px solid  #7c5151;
    border-radius: 20px;
    background-color: #ffb3c336;
    padding: 30px;
    margin: 20px auto;
    font-family: Calibri;
}

.img {
    height: 300px;
    width: auto;
    margin-right: 20px;
}
.descr{
    text-align: center;
}